$bg-color: rgb(31, 106,59);
$lpheader: 'Roboto Mono', monospace;


body {
    background-color: rgb(255,255,255,);
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $bg-color;
}

.container {
    margin-bottom: 2rem;
}

h2 {
    text-decoration-line: underline;
    text-underline-position: under;
    font-family: $lpheader;
}

p {
    font-family: $lpheader;
    font-weight: 300;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(47, 79, 79,);
    color: rgb(47, 79, 79,);
    background-color: rgb(47, 79, 79,);
}

.navbar {
    background-color: rgb(31, 106, 59,);
}

.nav-link {
    color: rgba(255,255,255,) !important;
}

.bcontact {
    background-color: rgb(47, 79, 79,) !important;
}

.bcontact:hover {
    color: black !important;
}

